.container {
  display: flex;
  margin: 10px;
  padding: 15px;
}

.left {
  flex-grow: 1;
}

.right {
  flex-grow: 3;
}

.formField {
  height: 46px;
  padding: 0 16px;
  border: 2px solid #ddd;
  border-radius: 4px;
  font-family: "Rubik", sans-serif;
  outline: 0;
  transition: 0.2s;
  margin-top: 20px;
}

.formField:focus {
  border-color: #0f7ef1;
}

.logo {
  margin-left: 22px;
  text-decoration: underline;
  text-decoration-color: #0f7ef1;
  text-decoration-thickness: 4px;
}

.hr {
  border-top: 1px solid lightgrey;
}
